.productlistContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
}

.listitem {
  display: grid;
  place-items: center;
  background-color: #F1EFEF;
  border: 2px #D4C9BE solid;
  width: 200px;
  height: 150px;
  border-radius: 5%;
  font-size: large;
  text-align: center;
  padding: 10% 10% 10% 10%;
  transition: 0.1s;
  box-shadow: 0 4px 16px rgba(18, 52, 88, 0.1);
}

.listitem:hover {
  border: 3px #123458 solid;
  background-color: #D4C9BE;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(18, 52, 88, 0.2);
}

.listitem p {
  font-family:'Raleway', sans-serif;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #123458;
  margin-bottom: 20px;
}

.ProductTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 50px;
}

.addButton {
  position: relative;
  align-items: center;
  background-color: #D4C9BE;
  border: 2px solid #123458;
  border-radius: 8px;
  box-sizing: border-box;
  color: #123458;
  cursor: pointer;
  display: flex;
  font-family:'Raleway', sans-serif;  font-size: 20px;
  height: 48px;
  justify-content: center;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addButton:hover {
  background-color: #123458;
  color: #F1EFEF;
}