
.formholder {
    display: flex;
    justify-content: center;

}


.signupform {
  display: grid;
  padding-top: 4%;
  padding-bottom: 14%; /* Adjust the value as needed */
  padding-left: 10%;
  padding-right: 25%;
  grid-gap: 30%;
  border: 5px double #D4C9BE;
  margin: 9%;
  background-color: #F1EFEF;
  box-shadow: 0 8px 32px rgba(18, 52, 88, 0.1);
}


  .control {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
  }

  .headerForms {
    font-family:'Raleway', sans-serif;
    color: #123458;
  }
